.title{
    font-weight: 600;
    box-shadow: 0 1px rgba(17, 17, 26, .1);
}

.item{
    
    // border: 1px solid #ececec;
    // text-align: center;
    padding-top: 5px;
    padding: 5px;
    border-radius: 8px;
}