.container{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.3);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    align-items: center;
    justify-content: center;
    display: none;
    
    &.show{
        display: flex;
        animation: showin 600ms ease forwards;
    }
    
    


    .contentWrapper{
        cursor: auto;
        background-color: white;
        width: 60%;
        max-height: 90%;
        border-radius: 20px;
        overflow: hidden;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        display: flex;
        flex-direction: column;

        &.pulse{
            animation: pulse 600ms;
        }

        .titleWrapper{
            padding: 20px 20px 10px 20px;
            
            font-weight: 600;
            font-size: x-large;
            flex-shrink: 0;
            // color: rgb(56, 56, 56);
        }
        .bodyWrapper{
            flex: 1;
            padding: 10px 20px 20px 20px;
            overflow: auto;
            // overflow: hidden;
        }
    }
}

@media screen and (max-width: 1400px){
    .container{
        .contentWrapper{
            width: 80%;
        }
    }
}


@media screen and (max-width: 1200px){
    .container{
        .contentWrapper{
            width: 90%;
        }
    }
    
}

@keyframes pulse {
  0%   { transform: scale(1); }
  50%  { transform: scale(1.01); }
  100% { transform: scale(1); }
}

@keyframes showin {
    0%{
        // transform: scale(0.9);
        opacity: 0;
    }
    100%{
        // transform: scale(1);
        opacity: 1;
    }
}