.container{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.3);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    align-items: center;
    justify-content: center;
    display: flex;


    .contentWrapper{
        background-color: white;
        width: 60%;
        // height: 80%;
        border-radius: 20px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;


        .titleWrapper{
            padding: 20px 20px 10px 20px;
            
            font-weight: 600;
            font-size: x-large;
            // color: rgb(56, 56, 56);
        }
        .bodyWrapper{
            padding: 10px 20px 20px 20px;
        }
    }
}