.container{
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
    .title{
        // width: 100%;
        font-weight: 600;
        
        text-align: center;
    }

    .text{
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 600;
        background-color: rgb(255, 44, 44);
        // border: 1px solid rgb(255, 255, 255);
        color: rgb(255, 238, 238);
        margin-left: 10px;
        margin-right: 10px;
        border-radius: 5px;
        animation-name: animation;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        filter: drop-shadow(0 0 6px rgba(255,59,59,.6));

    }
    .delib{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        // margin-top: 10px;
        padding: 10px;
        width: 100%;

        a{
            background-color: rgb(247, 251, 255);
            color: rgb(23, 115, 221);
            border: 1px solid rgb(141, 194, 255);
            padding: 2px 5px;
            border-radius: 3px;
            font-size: smaller;

            &:hover{
                filter: brightness(0.97);
            }
        }
    }
    
}

@keyframes animation {
 0%   { transform: scale(1); filter: drop-shadow(0 0 2px rgba(255, 0, 0, 0.4)); }
  50%  { transform: scale(1.03); filter: drop-shadow(0 0 5px rgba(255, 0, 0, 0.35)); }
  100% { transform: scale(1); filter: drop-shadow(0 0 2px rgba(255, 0, 0, 0.4)); }
}