.imagesContainer{
    position: relative;
    border-radius: 10px;
    bottom: 0;
    // transform: translateY(20%);
    // overflow: hidden;
    // width: 50%;
    border-radius: 20px;
    // padding: 20px;

    .mapImage{
        border-radius: 20px;
        overflow: hidden;
    }

    .mobileImage{
        width: 20%;
        position: absolute;
        z-index: 9999;
        top: 20%;
        right: 0;
        transform: translateX(40%);
        img{
            width: 100%;
        }
    }
}